<!-- Trabajo Final -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <title>Clasificador</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <i class="bi bi-house-door"></i>Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/clasificador">
                                <i class="bi bi-grid"></i> Clasificador
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/modeloPrecioCategoria">
                                <i class="bi bi-graph-up"></i> Modelo de Regresión: Precio vs Categoría
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/modeloGananciaCategoria">
                                <i class="bi bi-graph-up"></i> Modelo de Regresión: Ganancia Total
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/stockCategoria">
                                <i class="bi bi-bar-chart-steps"></i>  Stock por Categoría
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="main-content col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Clasificador</h1>
                    <!-- <div class="btn-toolbar mb-2 mb-md-0">
                        <button class="btn btn-outline-secondary me-2">Actualizar</button>
                        <button class="btn btn-primary">Agregar Datos</button>
                    </div>  -->
                </div>
                <div>
                    <form action="/clasificarData" method="POST">
                        <div class="mb-3">
                            <label for="precioVenta" class="form-label">Dinero Disponible</label>
                            <input type="number" class="form-control" id="precioVenta" name="precioVenta" placeholder="500" required>
                        </div>
                        <div class="mb-3">
                            <label for="marca" class="form-label">Marca</label> <br>
                            <select name="marca" id="marca"  style="width: 100%" class="form-select" required>
                                <option value="">Selecciona una marca</option>
                                <option value="NAC">Nacional</option>
                                <option value="IMP">importado</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="modelo" class="form-label">Modelo</label>
                            <input type="text" class="form-control" id="modelo" placeholder="GOURMET" required>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-success" style="width: 100%">Enviar</button>
                        </div>
                    </form>
                </div>

                <!-- <div class="row">
                    <div class="col">
                        <h2>Gráfico de Regresión: Precio vs Categoría</h2>
                        <div id="grafico-precio-categoria" style="height: 400px; background-color: #f8f9fa;"></div>
                    </div>
                    <div class="col">
                        <h2>Gráfico de Regresión: Ganancia Total</h2>
                        <div id="grafico-ganancia-total" style="height: 400px; background-color: #f8f9fa;"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h2>Gráfico de Stock por Categoría</h2>
                        <div id="grafico-stock" style="height: 400px; background-color: #f8f9fa;"></div>
                    </div>
                </div> -->
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
